/* grid */
* {
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
		flex: 1 1 0;
		min-width: 150px;//min width is determined by parent size and # of siblings through js
}


