/* grid */
* {
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 15px 0 15px;//figure out padding on edges depending on window size
	
	.column {
		padding:0 15px 0 15px;
		flex-grow: 1;
		
	}


}

		//also determine padding based on width as well

//loop for how many columns we have, max 12, then creates width & max width based on it

