/* header */

header {
	div.masthead{
		width: 64%;
		position: relative;
		
	}
	p.edition {
	font-family: $font-Roboto;
	font-weight: 100;
	font-size: 1.5vw;
	color: $cabiPink;
	position: absolute;
	top: 11%;
	right: .4%;
	text-align: right;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .1em;	
	}
}

nav a {
	display: inline-block;
	
	text-decoration: none;
	color: $lightGrey;
	text-transform: uppercase;
	font-family: $font-Roboto;
	&:hover {
		color: $white;	
	}
	
}
nav ul {
	border-top:2px solid #000000;
}
nav li {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	&:hover {
		background-color: $cabiGrey;
	}
	&:first-of-type {
		border-left-width: 0px;
	}
	&:last-of-type {
		border-right-width: 2px;
	}
}
