/* buttons and icons */

//buttons
button  {
	padding:15px;
	font-family: $font-Roboto;
	font-weight: 400;
	font-size: .9em;
	text-transform: uppercase;
	color: $white;
	transition-duration: 0.4s;
	&.charcoal {
		background-color: $charcoal;
		border:1px solid $charcoal;
	}
	&.cabipink {
		background-color: $cabiPink;
		border:1px solid $cabiPink;
	}
	&:hover {
		color: $charcoal;
		background-color: $white;
	}
}

//elements used in accordians
.close {
	color:$cabiGrey;
	font-size: 130%;
	text-align: right;
	.close-icn {
		cursor: pointer;
	}
}
.arrow {
	font-size: 110%;
	display: inline-block;
	vertical-align: bottom;
	margin-left:1%;
	transform: rotate(0deg);
	transition: transform .5s;
}
.accordian {
	cursor: pointer;
}
.slidedown {
	max-height:0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}//end accordians

//dropdown select elements
.drpset {
	text-align: center;
	button {
		margin:20px auto;
		
		&.hidden {
		max-height: 0;
		visibility: hidden;
		margin:0;
		}
	}
}
.select-header {
	display: flex;
	padding: 15px;
	border: 1px solid $white;
	width: 100%;
	align-items: baseline;
	justify-content: space-between;
}
.select-arrow {
	z-index: 1;
	font-size: 110%;
	transform: rotate(0deg);
	transition: transform .5s;
	&.active, &:focus {
		transform: rotate(90deg);
	}
}
.select {
	position: relative;
	width: 250px;
	color: $darkGrey;
	background-color: $offWhite;
	margin: 10px auto;
	font-family: $font-Roboto;
	border-radius: 5px;
	display: block;
	max-height: 1000;
	transition: max-height 0.6s ease-out;
	&.hidden{
		max-height: 0;
		visibility: hidden;
		margin:0;
	}
	&.active, &:focus {
		border: 1px solid $charcoal;
		box-shadow: 0px 0px 6px $cabiPink;
	}
	.optionList {
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		width:100%;
		background-color: inherit;
		z-index: 2;
		max-height: 1000px;//reset this with js
		transition: max-height 0.6s ease-out;
		
		&.hidden {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-out;
		}
	}
	.value {
		overflow: hidden;
		white-space  : nowrap;
  		text-overflow: ellipsis;
	}
}

.option {
	display: inline-block;
	padding: 15px;
	border: 1px solid $white;
	width: 100%;
	list-style: none;
	&:hover, .highlight {
		background-color: $lightGrey;
	}
}


.optionGroup {
	padding: 0;
	margin:0;
	border: none;
	list-style: none;
	ul {
		margin:0;
		padding:0;
	}
	&>div {
		color:$cabiGrey;
		padding:15px;
		width:100%;
		display:none;
	}
}
//end select drpdown styling

