/* fonts */
@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-Bold.woff2') format('woff2'),
        url('../fonts/Archer-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-BoldItalic.woff2') format('woff2'),
        url('../fonts/Archer-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-LightItalic.woff2') format('woff2'),
        url('../fonts/Archer-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-Semibold.woff2') format('woff2'),
        url('../fonts/Archer-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-Medium.woff2') format('woff2'),
        url('../fonts/Archer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-Thin.woff2') format('woff2'),
        url('../fonts/Archer-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-Light.woff2') format('woff2'),
        url('../fonts/Archer-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Archer-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Archer Book';
    src: url('../fonts/Archer-BookItalic.woff2') format('woff2'),
        url('../fonts/Archer-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-MediumItalic.woff2') format('woff2'),
        url('../fonts/Archer-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Archer Book';
    src: url('../fonts/Archer-Book.woff2') format('woff2'),
        url('../fonts/Archer-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Just Lovely';
    src: url('../fonts/JustLovely.woff2') format('woff2'),
        url('../fonts/JustLovely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Just Lovely Extras';
    src: url('../fonts/JustLovelyExtras.woff2') format('woff2'),
        url('../fonts/JustLovelyExtras.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


//Roboto condensed weights and styles: 300, 400, 700, normal and italic
//Suranna only has one weight 400
/*-----------------------variables--------------------*/
$font-archer: 'Archer','Georgia', serif;
$font-archerB: 'Archer Book','Archer','Georgia', serif;
$font-justlovely: 'Just Lovely','Georgia', serif;
$font-lovelyExtras: 'Just Lovely Extras', 'Just Lovely','Geogia', serif;
$font-Roboto: 'Roboto Condensed', 'Arial Narrow', sans-serif;
$font-Modern: 'Suranna', 'Times New Roman', serif;

//typeography
p {//book
	font-family: $font-archerB;
	
	b, strong {//semibold
		font-family: $font-archer;
		font-weight: 600;
		font-style: normal;
		em, i {
			font-family: $font-archer;
			font-weight: 600;
			font-style: italic;
		}
	}
	em, i {
		font-family: $font-archerB;
		font-style: italic;
		b, strong {
			font-family: $font-archer;
			font-weight: 600;
			font-style: italic;	
		}
	}
}
h1,h2,h3,h4 {
	font-family: $font-archer;
	font-style: bold; 
}
h1 {
	color: $cabiPink;
	margin-top:0;
	margin-bottom:0;
	+ h2 {
		margin:1% 0 0 0;
	}
	+ p {
		margin-top:5%;
	}
	@include smlphones {
		font-size:1.75em;	
	}
	@include mostphones {
		font-size:1.75em;	
	}
	@include tablets {
		font-size: 1.9em;
	}
	@include lrgLaptops {
		font-size:3vw;
	}
}
h2 {
	+ p {
		margin-top:5%;
	}
	@include smlphones {
		font-size:1.25em;
		margin: 2.5% 0 0 0;
	}
	@include mostphones {
		font-size:1.25em;
		margin: 2.5% 0 0 0;	
	}
	@include tablets {
		font-size: 1.5em;
	}
	@include smlLaptops {
		font-size:2vw;
		margin: 1% 0 0 0;
	}
}
h3 {
	+ p {
		margin-top:0;
	}
	@include smlphones {
		font-size:1.1em;
		margin: 1% 0 0 0;
		font-weight: 400;
	}
	@include mostphones {
		font-size: 1.25em;
		margin: 1% 0 0 0;
		font-weight: 400;
	}
	@include smlLaptops {
		font-size:1.6vw;
	}
}
h4 + p {
	margin-top:0;
}
h4, p {
	@include smlphones {
		font-size:.9em;
		margin: 1% 0 0 0;
	}
	@include mostphones {
		font-size: 1em;
		margin: 1% 0 0 0;
	}
	@include lrgLaptops {
		font-size:1vw;
	}
}
.includesorder {
	@include smlphones {
	}
	@include mostphones {
	}
	@include phablets {
		
	}
	@include tablets {
	}
	@include smlLaptops {
	}
	@include lrgLaptops {

	}
	@include desktop {
		
	}
	@include tvsize {
		
	}	
}
h5 {
	font-family: $font-archer;
	font-size: .8em;
	font-style: italic;
}
h6 {
	font-family: $font-Roboto;
	text-transform: uppercase;
	font-size:.7em;
	font-weight: 300;
	a {
		color:inherit;
		font-weight: 700;
	}
}


